header {
    display: flex;
    align-items: center;
    background-color: #20232a;
    justify-content: space-between;
}

.logo img {
    width: 30px;
}

.logo {
    padding: 20px 45px 20px 20px;
    height: 50px;
    width: 105px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo span {
    font-size: 20px;
    color: #61dafb;
}

.search-actions-bar {
    display: flex;
    padding-right: 20px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.search-actions-bar .field-search {
    position: relative;
    display: flex;
    justify-content: flex-end;
    max-width: 300px;
    min-width: 100px;
    width: 100%;
}

.search-actions-bar #input-search {
    height: 20px;
    padding-left: 20px;
    width: 100%;
}

.search-actions-bar .input-icon {
    position: absolute;
    left: 5px;
    top: calc(50% - 0.6em);
}

.search-actions-bar #add-new-item-btn {
    margin-left: 2px;
    width: 26px;
    height: 26px;
}