.sidebar-nav-menu {
    display: flex;
    flex-direction: column;
    padding: 25px 0;
}

.sidebar-nav-menu input[type=radio] {
    display: none;
}

.sidebar-nav-menu input[type=radio] + label {
    color: #fff;
    font-weight: normal;
    padding: 10px 20px;
}

.sidebar-nav-menu input[type=radio]:checked + label {
    color: #61dafb;
    font-weight: bolder;
}
