body {
    padding: 0;
    margin: 0;
    font-family: "Cupertino Regular", sans-serif;
}

@font-face {
    font-family: "Cupertino Regular";
    src: url('/public/fonts/Cupertino-Regular.ttf') format("ttf");
}